.playerPanel
{
    display:inline-block;
    background-color:  #0044cc;
    margin: 3px ;
    color: #eeeeee;
    width: 100%;
}
.playerPanel .numero
{
    font-weight: bold;
    display:inline;
}

.playerPanel .nom
{
    font-family: Calibri;
    display:inline;
}

body{
    /*
    background-image: url("/img/patinoire-portrait.png") ;
    background-repeat: no-repeat;
    background-position:  center;
    */
}