{{Title}}
<div>
    <table class="table-condensed table-bordered table-striped">
        <tbody>
        <tr>
            <td>
                <button class="btn" ng-click="gotoPlayer()">Joueur</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn" ng-click="gotoEquipe()">Équipe</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn" ng-click="gotoParties()">Partie</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
